body#bodylogin {
    background: url('../images/login-background.jpg') no-repeat center center fixed;
    background-size: cover;
}

div.loginHeader{
    text-align: center;
}

div.loginHeader{
    margin-bottom: 60px;
}

div.loginHeader h1{
    color: rgb(23, 179, 93);
    font-size: 100px;
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

div.loginHeader p{
    color: rgb(0, 0, 0);
    font-size: 50px;
    margin-top: 0px;
    text-transform: uppercase;
    display: inline-block;
}

div.loginHeader p::after{   
    content: '';
    display: block;
    height: 5px;
    background: rgb(23, 179, 93) ;
    margin: 0 auto;
}

div.loginbody form{
    margin: 0 auto;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.664);
    padding: 50px;  
    border-radius: 30px;
    border: 3px solid rgb(255, 255, 255);

}

div.inputlogin label{
    color: rgb(255, 255, 255);
    font-size: 20px;
    display: block;
    text-transform: capitalize;
    

}

div.inputlogin {
    margin-top: 20px;
}

div.inputlogin input{
    width: 100% ;
    height: 30px;
    border: 2px solid #d40339;
    font-size: 15px;
    padding: 5px;
    text-align: center;
}

div.tombol button{
    font-size: 20px;
    padding: 10px 40px;
    background: #f685a2;
    border: none;
    color: #fff;
    position: fixed center;
    margin-top: 20px;
}